name: Tests

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ 20, 22 ]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - uses: pnpm/action-setup@v4.2.0

      - name: Install Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{matrix.node}}
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm i

      - name: Lint
        run: pnpm run lint

      - name: Test
        run: pnpm run test

      - name: Build
        run: pnpm run build

      - name: Test build
        run: pnpm run test-build

      - name: Check types
        run: pnpm run check-types

      - name: Coverage
        uses: codecov/codecov-action@v5
